<!doctype html>
<html ng-app="myApp"
      ng-init="firstName='First Name'; jobTitle='Job Title'; tediousTask='Tedious Task';
               dirtyTask='Dirty Task'; celebrity='Celebrity'; uselessSkill='Useless Skill';
               adjective='Adjective'; obnoxiousCelebrity='Obnoxious Celebrity'; hugeNumber='Huge Number';">
<head>
    <meta charset="UTF-8">
    <title>ngMadLibs</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script data-require="angular.js@1.3.10" data-semver="1.3.10"
            src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="script.js"></script>
</head>

<body ng-controller="MyCtrl">

<div id="wrapper">

    <div>
        <div class="header-column-left box">
            <div class="center image"><img src="images/mad-lib-happy-face.png"></img></div>
        </div>
        <div class="header-column-right box">
            <div class="center"><img src="images/ng-mad-libs-logo.png"></img></div>
            <div class="center automate">Automate This!</div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="box input">
        <div class="center">Pick a gender:</div>
        <div class="center">
            <select class="user-input" ng-model="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="center">Provide the following words:</div>
        <div class="inputs-column-left">
            <div class="user-input"><input class="user-input" type="text" ng-model="firstName"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="jobTitle"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="tediousTask"></input></div>
        </div>
        <div class="inputs-column-center">
            <div class="user-input"><input class="user-input" type="text" ng-model="dirtyTask"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="celebrity"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="uselessSkill"></input></div>
        </div>
        <div class="inputs-column-right">
            <div class="user-input"><input class="user-input" type="text" ng-model="adjective"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="obnoxiousCelebrity"></input></div>
            <div class="user-input"><input class="user-input" type="text" ng-model="hugeNumber"></input></div>
        </div>
    </div>

    <div class="box output">
        <p><span class="user-output">{{firstName}}</span> was a
            <span class="user-output">{{jobTitle}}</span> who loved technology. Although
            {{ gender == 'Male' ? 'he' : 'she' }} loved parts of
            {{ gender == 'Male' ? 'his' : 'her' }} job,
            {{ gender == 'Male' ? 'he' : 'she' }} absolutely hated
            <span class="user-output">{{tediousTask}}</span> and
            <span class="user-output">{{dirtyTask}}</span>. So,
            <span class="user-output">{{firstName}}</span> met with
            {{ gender == 'Male' ? 'his' : 'her' }} life mentor,
            <span class="user-output">{{celebrity}}</span>, who told
            {{ gender == 'Male' ? 'him' : 'her' }} to learn about
            <span class="user-output">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course about
            <span class="user-output">{{uselessSkill}}</span> so
            {{ gender == 'Male' ? 'he' : 'she' }} studied programming instead.
        </p>

        <p>What a great decision! With
            {{ gender == 'Male' ? 'his' : 'her' }} new skills,
            <span class="user-output">{{firstName}}</span> built a(n)
            <span class="user-output">{{adjective}}</span> robot named
            <span class="user-output">{{obnoxiousCelebrity}}</span> that not only loved
            <span class="user-output">{{dirtyTask}}</span> but did it
            <span class="user-output">{{hugeNumber | number}}</span> times faster.
        </p>
    </div>
</div>


</body>
</html>