<!doctype html>
<html ng-app="myApp"
      ng-init="gender='';
               firstName=''; jobTitle=''; tediousTask='';
               dirtyTask=''; celebrity=''; uselessSkill='';
               adjective=''; obnoxiousCelebrity=''; hugeNumber='';">
<head>
    <meta charset="UTF-8">
    <title>ngMadLibs</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script data-require="angular.js@1.3.10" data-semver="1.3.10"
            src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="angular-messages.js"></script>
    <script src="script.js"></script>
</head>

<body ng-controller="MyCtrl">

<div id="wrapper">

    <div>
        <div class="header-column-left box">
            <div class="center image"><img src="images/mad-lib-happy-face.png"></img></div>
        </div>
        <div class="header-column-right box">
            <div class="center"><img src="images/ng-mad-libs-logo.png"></img></div>
            <div class="center automate">Automate This!</div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="box input" ng-hide="switchToOutput">

        <form ng-submit="submit()" name="myForm" novalidate>

            <div class="center">Pick a gender:</div>
            <div class="clear"></div>

            <div class="center">
                <div class="user-input">
                    <input type="radio" name="gender" ng-model="gender" value="Female" checked required>Female</input>
                </div>
                <div class="user-input">
                    <input type="radio" name="gender" ng-model="gender" value="Male" required>Male</input>
                </div>
            </div>
            <div class="clear"></div>

            <div class="center">Provide the following words and number:</div>
            <div class="inputs-column-left">
                <div class="user-input">
                    <input class="user-input" type="text" ng-model="firstName" placeholder="First Name"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input class="user-input" type="text" ng-model="jobTitle" placeholder="Job Title"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="tediousTask" placeholder="Tedious Task"
                           ng-minlength="2" required></input>
                </div>
            </div>
            <div class="inputs-column-center">
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="dirtyTask" placeholder="Dirty Task"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="celebrity" placeholder="Celebrity"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="uselessSkill" placeholder="Useless Skill"
                           ng-minlength="2" required></input>
                </div>
            </div>
            <div class="inputs-column-right">
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="adjective" placeholder="Adjective"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input required class="user-input" type="text" ng-model="obnoxiousCelebrity"
                           placeholder="Obnoxious Celebrity"
                           ng-minlength="2" required></input>
                </div>
                <div class="user-input">
                    <input required class="user-input" type="number" ng-model="hugeNumber" placeholder="Huge Number"
                           ng-minlength="2" required></input>
                </div>
            </div>

            <div class="clear"></div>


            <div class="inputs-column-right">
                <div class="user-input">
                    <input class="user-input" type="submit" id="submit" value="Generate My Mad Lib"
                           ng-click="generateMadLib()"></input>
                </div>
            </div>

            <div class="clear"></div>

        </form>

        <div class="inputs-column-left">&nbsp;</div>
        <div class="inputs-column-center center" ng-if="myForm.$submitted" ng-messages="myForm.$error">
            <span class="error" ng-message="required">All fields must be filled out, including gender.</span>
            <span class="error" ng-message="minlength">Each field must be at least two characters long.</span>
            <span class="error" ng-message="number">The last field must be a number.</span>
        </div>
        <div class="inputs-column-right">&nbsp;</div>

    </div>

    <div class="box output" ng-show="switchToOutput">
        <p><span class="user-output">{{firstName}}</span> was a(n)
            <span class="user-output">{{jobTitle}}</span> who loved technology. Although
            {{ gender == 'Male' ? 'he' : 'she' }} loved parts of
            {{ gender == 'Male' ? 'his' : 'her' }} job,
            {{ gender == 'Male' ? 'he' : 'she' }} absolutely hated
            <span class="user-output">{{tediousTask}}</span> and
            <span class="user-output">{{dirtyTask}}</span>. So,
            <span class="user-output">{{firstName}}</span> met with
            {{ gender == 'Male' ? 'his' : 'her' }} life mentor,
            <span class="user-output">{{celebrity}}</span>, who told
            {{ gender == 'Male' ? 'him' : 'her' }} to learn about
            <span class="user-output">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course about
            <span class="user-output">{{uselessSkill}}</span> so
            {{ gender == 'Male' ? 'he' : 'she' }} studied programming instead.
        </p>

        <p>What a great decision! With
            {{ gender == 'Male' ? 'his' : 'her' }} new skills,
            <span class="user-output">{{firstName}}</span> built a(n)
            <span class="user-output">{{adjective}}</span> robot named
            <span class="user-output">{{obnoxiousCelebrity}}</span> that not only loved
            <span class="user-output">{{dirtyTask}}</span> but did it
            <span class="user-output">{{hugeNumber | number}}</span> times faster.
        </p>

        <div class="inputs-column-right">
            <div class="user-input">
                <input class="user-input" type="submit" id="submit" value="Start Over" ng-click="startOver()"></input>
            </div>
        </div>

    </div>

</div>

</body>
</html>