@charset "UTF-8";

body {
    background-color: white;
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header-column-left {
    float: left;
    width: 314px;
    height: 210px;
}

.header-column-right {
    float: right;
    width: 634px;
    height: 210px;
}

.inputs-column-left {
    float: left;
    width: 33%;
}

.inputs-column-center {
    display: inline-block;
    width: 33%;
}

.inputs-column-right {
    float: right;
    width: 33%;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.box {
    border: 3px solid;
}

.image {
    vertical-align: middle;
}

.input {
    padding: 30px;
}

.output {
    padding: 30px;
}

.user-input {
    text-align: center;
}

.user-input-radio {
    text-align: left;
}

.user-output {
    text-decoration: underline;
}
.automate {
    font-size: xx-large;
}

.error {
    color: red;
    text-align: center;
}

.input.ng-hide-add,
.input.ng-hide-remove {
    transition: all linear 2s;
}

.input.ng-hide-add {
    opacity: 1;
    /*max-height: 1em;*/
}

.input.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    /*max-height: 0;*/
}

.input.ng-hide-remove {
    opacity: 0;
    /*max-height: 0;*/
}

.input.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    /*max-height: 1em;*/
}



.output.ng-hide-add,
.output.ng-hide-remove {
    transition: all linear 2s;
}

.output.ng-hide-add {
    opacity: 1;
    /*max-height: 1em;*/
}

.output.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    /*max-height: 0;*/
}

.output.ng-hide-remove {
    opacity: 0;
    /*max-height: 0;*/
}

.output.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    /*max-height: 1em;*/
}

/*.input.ng-hide-stagger {*/
    /*transition-delay: 2s;*/
/*}*/

/*.output.ng-hide-stagger {*/
    /*transition-delay: 2s;*/
/*}*/